@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #aaa;
}

.wrapper {
  background-color: #fff;
  width: 400px;
  border-radius: 5px;
  padding: 15px 30px 40px 30px;
  position: relative;
}

.wrapper .header {
  text-align: center;
  margin-bottom: 30px;
}

.header input {
  width: 90%;
  padding: 7px 15px;
}

.body .task-list {
  list-style: none;
}

.task-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.add-btn {
  text-decoration: none;
  background-color: #7e7c7c;
  padding: 7.5px 15px;
  border-radius: 100px;
  box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.02);
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  color: #fff;
}

.delete {
  cursor: pointer;
}
